.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .rectangle {
    font-family: DancingScript;
    background: #9ed3f1;
    color: white;
    padding: 20px;
    transition: 2.9s background;
    height: 100px;
    flex: 1 1 220px;
  }
  
  .mid {
    background: #6a8bd3;
  }
  
  .rectangle:hover {
    background: #db8ee6;
  }
  
  h2 {
    font-size: 30px;
  }
  